* {
    font-family: sans-serif;
    font-weight: 500;
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}

.boxes {
    border: solid 2px black;
    margin-left: 20px;
    border-radius: 10px;
    padding: 20px 30px;
}

.boxes button {
    padding: 10px 16px 10px 16px;
    margin-left: 28%;
    border: none;
    background-color: lightcoral;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.2+s;
} 

.boxes button:hover {
    background-color: aquamarine;
}